.work-years__page {
  padding: 0 10px;
}

.work__years-wrapper {
  background-color: $headerYearsBlockBg;
  margin-top: -170px;
  padding: 57px 0;

  @media(min-width: $tablet-width) {
    max-width: $desktop-width;
    width: 100%;
    margin: -170px auto;
  }
}

.years__list {
  list-style-type: none;

  @media(min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 146px;
    margin-left: -40px;
  }
}

.year__item {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.year__item-amount {
  font-size: 72px;
  color: $orangeColor;
  margin-top: 0;
  margin-bottom: 0;
}

.year__item-text {
  color: #000000;
  font-size: 36px;
  margin-top: 4px;
  margin-bottom: 0;
}

.year__item-where {
  color: $greyColor;
  font-size: 18px;
  margin-top: 0px;
}
